@font-face {
    font-family: "monotyper";
    src: url("MonospaceTypewriter.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

:root {
    --nothing: rgba(0, 0, 0, 0);
    --absolute_worst: rgb(0, 0, 0);
    --worst: rgb(18, 18, 18);
    --disgusting: rgb(45, 45, 45);
    --abominable: rgb(61, 61, 61);
    --repulsive: rgb(77, 77, 77);
    --dreadful: rgb(96, 96, 96);
    --appaling: rgb(119, 117, 117);
    --horrible: rgb(132, 131, 131);
    --awful: rgb(152, 150, 150);
    --terrible: rgb(172, 169, 169);
    --poor: rgb(180, 180, 180);
    --unremarkable: rgb(200, 200, 200);
    --bad: rgb(216, 216, 216);
    --so_so: rgb(234, 234, 234);
    --common: white;
    --regular: rgb(228, 256, 227);
    --standard: rgb(204, 256, 202);
    --decent: rgb(190, 256, 174);
    --average: rgb(170, 256, 150); 
    --usual: rgb(158, 255, 145);
    --moderate: rgb(165, 255, 140);
    --adequate: rgb(175, 255, 135);
    --fair: rgb(185, 255, 130);
    --fine: rgb(195, 255, 125);
    --solid: rgb(205, 255, 120);
    --worthy: rgb(215, 255, 115);
    --admirable: rgb(225, 255, 110);
    --unusual: rgb(235, 255, 105);
    --uncommon: rgb(245, 255, 100);
    --good: rgb(255, 255, 95);
    --valuable: rgb(255, 240, 80);

    --impressive: rgb(255, 230, 75);
    --significant: rgb(255, 220, 70);
    --important: rgb(255, 210, 65);
    --highquality: rgb(255, 200, 60);
    --remarkable: rgb(255, 190,55);
    --great: rgb(255, 180, 50);
    --exceptional: rgb(255, 175, 45);
    --excellent: rgb(255, 170, 40);

    --refined: rgb(255, 160, 35);
    --exquisite: rgb(255, 150, 30);
    --elegant: rgb(255, 140, 25);
    --rare: rgb(255, 130, 20);
    --extraordinary: rgb(255, 120, 15);
    --outstanding: rgb(255, 110, 10);
    --satisfactory: rgb(255, 100, 5);
    --respectable: rgb(255, 90, 0);
    --well-made: rgb(255, 80, 0);
    --shining: rgb(255, 70, 0);

    --unknown: rgb(255, 231, 200);
    --forgotten: rgb(255, 220, 174);
    --obscure: rgb(255, 205, 141);
    --unnoted: rgb(255, 195, 135);
    --noticed: rgb(255, 185, 130);
}


body {
    background: linear-gradient(rgb(153, 153, 153), rgb(87, 87, 87));
    margin: 0;
    height: 100vh;
}

body.mobile {
    font-size: 22px;
}

span {
    user-select: none;
    pointer-events: none;
}

button, div, span, footer {
    font-family: "monotyper" !important;
}

#game {
    display: flex;
    flex-direction: row;
    font-family: "monotyper" !important;
    align-items: center;
}

#game.mobile {
    flex-direction: column;
}

#buttons, #statsButtons, #upgradesButtons, #prestigeButtons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.whiteButton{
    margin: 7px;
    border: 2px black solid;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s
}

.whiteButton.mobile{
    font-size: 25px;
}

.half {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.half.mobile {
    width: 100%; 
    height: 45vh; 
}

#rollScreen, #raritiesScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rollScreen{
    flex-direction: row;
}

.roll {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
    align-items: center;
}

#raritiesScreen {
    height:73vh;
    justify-content: flex-start;
    text-align: center;
}

#raritiesScreen.mobile {
    height: 45vh;
}

#rollButton, #rollButton2, #rollButton3 {
    height:110px;
    width: 110px;
    border: 2px black solid;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.3s
}

#rollButton.mobile, #rollButton2.mobile, #rollButton3.mobile {
    height:150px;
    width: 150px;
    font-size: 30px;
}

.buyableUpgrade, .settingButton, .masteryBuyableUpgrade {
    height: 110px;
    width: 210px;
    margin: 5px;
    background-color: white;
    border: 2px black solid;
    border-radius: 3px;
    font-size: 11px;
    transition: background-color 0.3s;
}

.buyableUpgrade:disabled  {
    background-color: rgb(197, 197, 197) !important;
}

.buyableUpgrade:disabled:hover  {
    background-color: rgb(189, 109, 109) !important;
}

.template-upgrade{
    height: 110px;
    width: 210px;
    margin: 5px;
    background-color: white;
    border: 2px black solid;
    border-radius: 3px;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s
}

.buyableUpgrade.mobile, .settingButton.mobile, .masteryBuyableUpgrade.mobile {
    height: 145px;
    width: 290px;
    font-size: 16px;
}

#rollButton2, .masteryBuyableUpgrade, .masteryButton {
    color: #fff;
    background-color: #271d2b; /* Тёмный фон кнопки */
    border: 2px solid #8a2be2; /* Цвет контура */
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px #8a2be2, inset 0 0 10px #8a2be2;
    transition: background-color 0.3s
}

.masteryBuyableUpgrade:disabled  {
    background-color:#222222 ;
    border-color: #222222;
    box-shadow: 0 0 0
}

.masteryBuyableUpgrade:disabled:hover  {
    background-color: rgb(189, 109, 109) !important;
}

#rollButton:hover, #buttons button:hover, #statsButtons button:hover, .buyableUpgrade:hover, .settingButton:hover, .smallButton:hover, .whiteButton:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

#rollButton2:hover, .masteryBuyableUpgrade:hover, .masteryButton:hover {
    background-color: #521888;
}

.masteryButton {
    border-radius: 3px;
}

#raritiesScreen::-webkit-scrollbar {
    width: 6px; /* Ширина полосы прокрутки */
  }
  
#raritiesScreen::-webkit-scrollbar-thumb {
    background-color: #555; /* Темно-серая полоса */
    border-radius: 3px; /* Округлённые края */
  }
  
#raritiesScreen::-webkit-scrollbar-track {
    background: transparent; /* Прозрачный фон */
  }

.rarityCount, .rarityText, .rarityTable {
    text-shadow: 0.75px 0.75px rgb(0, 0, 0), -0.75px -0.75px rgb(0, 0, 0), 0.75px -0.75px rgb(0, 0, 0), -0.75px 0.75px rgb(0, 0, 0);
}

.masteryRarityCount, .masteryRarityColor, .masteryRarityTable {
    text-shadow: 0.2px 0.2px #8a2be2, -0.2px -0.2px #8a2be2, 0.2px -0.2px #8a2be2, -0.2px 0.2px #8a2be2
}

.rarityCount, .masteryRarityCount {
    width: 300px;
}

.rarityCount.mobile, .masteryRarityCount.mobile {
    width: 600px;
    font-size: 32px;
}

.rarityText, .optionList span {
    text-shadow: 0.5px 0.5px rgb(0, 0, 0), -0.5px -0.5px rgb(0, 0, 0), 0.5px -0.5px rgb(0, 0, 0), -0.5px 0.5px rgb(0, 0, 0);
}

#rollsCount.mobile, #rollsCount2.mobile {
    font-size: 30px;
}

.settingButton {
    font-size: 18px;
}

.settingButton.mobile {
    font-size: 30px;
}

#upgradesScreen, #settingsScreen, .prestigeScreens {
    display: flex;
    flex-direction: column;
}

.upgradeRow {
    display: flex;
    flex-direction: row;
}

#rollCooldown, #rollCooldown2, #rollCooldown3 {
    height: 20px;
    width: 80px;
    border: 3px black solid;
    background-color: gray;
    margin: 10px;
    text-align: center;
}

#rollCooldown.mobile, #rollCooldown2.mobile, #rollCooldown3.mobile {
    height: 30px;
    width: 120px;
}

#rollCooldownProgress, #rollCooldownProgress2, #rollCooldownProgress3 {
    position: absolute;
    height: 20px;
    width: 0px;
    background-color: #AAAAAA;
}

#rollCooldownProgress.mobile, #rollCooldownProgress2.mobile, #rollCooldownProgress3.mobile {
    height: 30px;
}

#cdText, #cdText2, .prestige-bar-text, #cdText3 {
    font-size:15px;
    position:relative;
    z-index: 9999;
}

#cdText.mobile, #cdText2.mobile, #cdText3.mobile {
    font-size:22px;
    margin-left: 27px;
}

.settingsRow {
    display: flex;
    justify-content: center;
}

.loadfile {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 107.75px;
    width: 208.2px;
}

#file-upload {
    display: none;
}

.file-name {
    display: none;
}

.confirmationWindow {
    display: none;
    width: 400px;
    height: 250px;
}
#windowTitleDiv {
    width: 100%;
    margin-top: 50px;
}

.myPopupBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* цвет затемнения */
    z-index: 9900; /* должен быть меньше, чем у самого окна */
    display: none; /* начальное состояние - затемнение скрыто */
}

.gameWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a1a1a1;
    border: solid 2px #000000;
    /* padding: 5px; */
    width: 750px;
    height: 550px;
    z-index: 9989;
    text-align: left;
    display: none;
    border-radius: 6px;
}

.centerText {
    display: none;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 22px;
    text-align: center;
}

.titleDivClass {
    text-align: center;
    align-items: center;
}

.windowTitle{
    z-index: 9999;
    color: #000;;
    font-size: 25px;
    margin: 0 auto;
    margin-block: 10px;
}

.closeWindow {
    z-index: 9998;
    width:35px;
    height:35px;
    border: solid 2px #000000;
    background-color: #a1a1a1;
    position: fixed;
    cursor: pointer;
    padding: 1px;
    padding-left: 5px;
    border-radius: 4px;
}

.closeWindow::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("images/close.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter:invert()
}
.closeWindow:hover, .craftButton:hover {
    background-color: #b9b9b9;
}
.confClose, .closeWindow{
    left: 94%;
    bottom: 92%;
}

.windowDesc {
    overflow-y: auto;
    color:rgb(0, 0, 0);
    margin-top:0;
    max-height: 460px;
}

#confirmationButtons {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50%;
}

.smallButton {
    font-size: 18px !important;
    width: 100px;
    height: 40px;
}

.smallButton:disabled {
    background-color: #dadada;
    cursor:not-allowed;
}

#line {
    background-color: rgb(0, 0, 0);
    width: 0.1%;
}

#helpDiv, #changelogDiv{
    width: 89%;
    /* margin: 0px; */
    max-height: 500px;
    margin-right: 0px;
}

#offlineDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -100px;
    text-align: center;
    font-size: 18px;
}

#helpDescription, #changelogDescription {
    margin-left: 5px;
    margin-top: 5px;
}

#helpPageTitle, #changelogTitle2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.versionButton {
    border-style: solid;
    width: 80px;
    height: 33px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    padding: 0px;
    border-width: 1px;
    border-block-width: 0px;
}

.versionButtonVertical {
    border-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin: 0px;
}

.versionButton:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
}

#gameHelpWindow, #changelogWindow {
    flex-wrap: wrap;
}

#offlineWindow {
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
}

#closeOffline {
    left: 90%;
    bottom: 90%;
}

#horizontalLine {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:1.1px;
}

#helpPageChooser, #changelogPageChooser{
    display: flex;
    height: 90.5%;
    width: 10.7%;
    flex-direction: column;
}

#changelogPageChooser {
    height: 91.5%
}

.titleDivClass {
    width: 100%;
}

#center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 90px;
}

#center.mobile {
    top: 150px;
    font-size: 22px;
}

#center .rarity_text{
    margin: 4px 20px;
    width: 33%
}

td {
    border: 1px solid black;
    margin: 0;
    width: 200px;
}

#craftContainer, #decraftContainer {
    display: flex;
    flex-direction: row;
}

#craftBlock, #decraftBlock {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 300px;
    text-align: center;
}

#craftBlock.mobile, #decraftBlock.mobile {
    width: 40vw;
}

#craftRarities, #decraftRarities {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.craftButton, .decraftButton {
    border: solid 2px black;
    background-color: #b4b4b4;
    margin: 1px;
    cursor: pointer;
}

.craftButton.mobile, .decraftButton.mobile {
    height: 2vh;
    font-size: 25px;
}

.craftRow {
    display: flex;
    flex-direction: row;
}

#craftScreen, #decraftScreen{
    display: flex;
    flex-direction: column;
}

#craftScreen.mobile, #decraftScreen.mobile {
    width: 80vw;
    font-size: 26px;
}

.gradient-text {
    background: -webkit-linear-gradient(
        0deg, 
        var(--gradient-start) 0%,
        var(--gradient-start) 40%, 
        var(--gradient-end) 60%,
        var(--gradient-end) 100%
        );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#statsScreen, #upgradesScreen, #prestigeScreen {
    flex-direction: column;
    justify-content: start;
    height: 100%;
    text-align: center;
}

.statsScreens, .upgradesScreens, .prestigeScreens {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#commonUpgrades, #masteryUpgrades {
    flex-direction: column;
}

.marquee-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Высота строки */
    background-color: #3b3b3b; /* Фон */
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #fff; /* Цвет текста */
    font-size: 14px; /* Размер шрифта */
    z-index: 9999;
}

.marquee-container.mobile {
    height: 40px; /* Высота строки */
    font-size: 24px; /* Размер шрифта */
}

.marquee-text {
    position: relative;
    white-space: nowrap;
    will-change: transform;
    text-align: right;
}

footer {
    background-color: #3b3b3b;
    color: #fff;
    text-align: left;
    padding: 3px;
    height:20px;
    width: 170px;
    bottom: 0;
    position: fixed;
}

footer.mobile {
    height:30px;
    width: 230px;
}


@keyframes scrollText {
    0% {
        transform: translateX(1000%)
    }
    100% {
        transform: translateX(-200%);
    }
}

.custom-notification {
    position: fixed;
    top: 20px;
    right: -500px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: right 1s ease;
}

#raritiesTable {
    display: flex;
    overflow-y: auto;
    height: 70vh;
    justify-content: flex-start;
    text-align: center;
}

#raritiesStatsScreen {
    flex-direction: column;
}

input[type="range"] {
    width: 100%;
}

.expandable-list {
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.expandable-list.mobile {
    width: 300px;
}

.expandable-list.mobile.open {
    max-height: 350px; /* Adjust this value as needed */
}

.expandable-list.open {
    max-height: 250px; /* Adjust this value as needed */
}

#selectContainer, #selectContainer2 {
    height: 15vh
}

#toggleButton, #toggleButton2 {
    width: 200px
}

#toggleButton.mobile, #toggleButton2.mobile {
    width: 300px
}

.optionList{
    width: 200px;
    height: 25px;
    border: #3b3b3b 1px solid;
    font-size: 16px;
}

.optionList.mobile{
    width: 300px;
    height: 50px;
    border: #3b3b3b 1px solid;
    font-size: 23px;
}

.prestige-class, .prestige-bar-base {
    border: rgb(235, 182, 113) 2px solid !important;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255)
}

.prestige-bar-base {
    margin: 3px 0px;
    width: 225px;
}

.prestige-class:hover {
    background-color: rgb(247, 189, 113) !important;
    color: black
}

.prestige-bar {
    background-color: rgb(207, 163, 106);
    position: absolute;
    height: 22px;
    width: 100px;
}

.prestige-bar.mobile {
    height: 30px;
}

#prestigeScreen {
    flex-direction: column;
    text-align: center;
}

.list-of-rarities, .raritiesList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 70vh;
}

#rollButton3 {
    cursor: pointer;
}

.prestigeSingleUpgrade:disabled {
    border-color: rgb(231, 124, 124) !important;
    background-color: #7e7e7e;
}

.prestigeSingleUpgrade:disabled:hover {
    background-color: rgb(255, 104, 104) !important;
}

.prestigeSingleUpgrade.purchased {
    background-color: rgb(247, 189, 113);
}

#gameStatsScreen, #aboutStatsScreen {
    flex-direction: column;
}

#discordServer {
    margin: 20px;
    height: 50px;
    width: 250px;
    background-color: #b1b6eb;
    border: 2px #4752c2 solid;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#discordServer:hover {
    background-color: #5865F2;
}

#discordServer img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}